body {
    padding-top: 10%;
}

.main-container {
    box-sizing: border-box;
    max-width: 802px;
    height: 418px;
    margin: auto;
    background: linear-gradient(#5a5757, rgb(226, 224, 224), rgb(54, 51, 51));
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 8px;
}

.app-container {
    display: flex;
    flex-direction: row;
    width: 780px;
    height: 370px;
    gap: 5px;
}

.team1-container, .team2-container {
    width: 200px;
    height: 370px;
}
.team-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mid-container {
    width: 377px;
    height: 370px;
    display: flex;
    flex-direction: column;
}

.app-header {
    width: 100%;
    height: 82px;
    object-fit: cover;
}


.app-content {
    display: flex;
    flex-direction: column;
    background-image: url("images/HomeCourt.jpgs");
    width: 377px;
    height: 284px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 100%;
    border: 1px solid green;
}


.left-team-score {
    display: flex;
    flex-direction: column;
    width: 99px;
    height: 100%;
    border: 1px solid rgb(255, 0, 0);
   
}

.team-homecourt {
    width: 99px;
    height: 135px;
    
    
}

.score-box {
    width: 99px;
    height: 78px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
}

.team-header {
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
}
h2 {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 2px;
}

.btn-points {
    width: 99px;
    height: 284px;
    border: 1px solid red;
}